@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto:ital,wght@0,500;1,300;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--contrast-color);
    color: white;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FF6230;
    --contrast-color: #050D1D;
    --link-color: #fff;
    --blck-color: #0E182B;
    --mute-color: #8974A9;
}

* {
    scrollbar-color: var(--mute-color), var(--contrast-color);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    background-color: var(--contrast-color);
    width: 6px;
    height: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mute-color);
}


.navbar-brand {
    font-weight: bold;
}

.navbar.sticky-top {
    background-color:  #050D1D;
}

@supports (backdrop-filter: blur(20px)) {
    .navbar.sticky-top {
        backdrop-filter: blur(20px);
        background-color:  rgba(5, 13, 29, 0.4);
    }
}

.navbar-nav {
    width: 60%;
}

.btn-nav {
    color: var(--link-color);
    border-color: var(--main-color) !important;
}

nav {
    border-bottom: solid #36264E 0.5px;
}

.nav-link:hover {
    transform: translateY(3px);
    border-bottom: var(--main-color) 0.5px solid;
    transition: 0.4s;
}

/* main */

.polygon {
    width: 90%;
}

.left-head > p{
    color: var(--mute-color);
}

.left-head > h1 {
    font-size: 50px;
}

.left-head > button, .left-head > button:hover {
    background-color: var(--main-color);
    color: black;
    border: none;
}


@media(min-width:100px) and (max-width:992px){

.header {
    display: flex;
    justify-content: space-between !important;
}    

.navbar-nav {
    width: 100%;
}

.left-head > h1 {
    font-size: 40px;
}

.polygon {
    width: 100% !important;
    margin: 0 auto;
}

.left-head {
    width: 100% !important;
}
}

/* modal */
.modal-content {
    background-color: var(--blck-color);
}

.form-control, .form-control:focus {
    background: none;
    border: solid 0.5px rgb(190, 189, 189);
    outline: none;
    color: white;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgb(177, 165, 165);
}

/* end */

/* about */

.block {
    background-color: var(--blck-color);
}

/* contact */

.link-end {
    color: var(--link-color);
    text-decoration: none;
    font-size: larger;
}

.card {
    background-color: var(--blck-color);
    border-radius: 15px;
    color: var(--link-color);
}

@media(max-width:768px) {
    .card > button {
        width: 100% !important;
    }
}